* {
  font-family: "Poppins", sans-serif;
}

.menumain {
  position: relative;
  left: 10px;
  top: 120px;

  display: flex;
  flex-direction: row;
}
.table-container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.tabletwo {
  border: 1px solid red;
  width: 875px;
  height: 700px;
  overflow-x: scroll;
  th {
    font-weight: normal;
  }
  .headingonesection {
    display: flex;
    flex-direction: row;
    gap: 20px;
    .dinein1
    {
      width: 155px;
      height: 30px;
      border: 0.5px solid #D9D9D9;
      margin-left: 20px;
      display: flex;
      justify-content: left;
      align-items: center;
      padding-top: 7px;
      padding-left: 10px;
      padding-right: 10px;
      

      .dots{
        padding-right: 10px;

      }
      .dollar{
        padding-right: 10px;

      }
      .dineintext
      {
        position: relative;
        top: -3px;
        font-size: 16px;
        font-weight: 500;
      }
    }
    .dinein2
    {
      width: 155px;
      height: 30px;
      border: 0.5px solid #D9D9D9;
      display: flex;
      justify-content: left;
      align-items: center;
      padding-top: 7px;
      padding-left: 10px;
      padding-right: 10px;
      .dots{
        padding-right: 10px;

      }
      .dollar{
        padding-right: 10px;

      }
      .dineintext
      {
        position: relative;
        top: -3px;
        font-size: 16px;
        font-weight: 500;
      }
     
    }
  
    .pickup1
    {
      width: 205px;
      height: 30px;
      border: 0.5px solid #D9D9D9;
      display: flex;
      justify-content: left;
      align-items: center;
      padding-top: 7px;
      padding-left: 10px;
      padding-right: 10px;
      .dots{
        padding-right: 10px;

      }
      .dollar{
        padding-right: 10px;

      }
      .pickuptext
      {
        position: relative;
        top: -3px;
        font-size: 16px;
        font-weight: 500;
      }
    
    }
     .pickup2
    {
      width: 205px;
      height: 30px;
      border: 0.5px solid #D9D9D9;
      display: flex;
      justify-content: left;
      align-items: center;
      padding-top: 7px;
      padding-left: 10px;
      padding-right: 10px;
      .dots{
        padding-right: 10px;

      }
      .dollar{
        padding-right: 10px;

      }
      .pickuptext
      {
        position: relative;
        top: -3px;
        font-size: 16px;
        font-weight: 500;
      }
     
    }

    .delivery1
    {
      width: 205px;
      height: 30px;
      border: 0.5px solid #D9D9D9;
      display: flex;
      justify-content: left;
      align-items: center;
      padding-top: 7px;
      padding-left: 10px;
      padding-right: 10px;
      .dots{
        padding-right: 10px;

      }
      .dollar{
        padding-right: 10px;

      }
      .deliverytext
      {
        position: relative;
        top: -3px;
        font-size: 16px;
        font-weight: 500;
      }

    
    }
    .delivery2
    {
      width: 205px;
      height: 30px;
      border: 0.5px solid #D9D9D9;
      display: flex;
      justify-content: left;
      align-items: center;
      padding-top: 7px;
      padding-left: 10px;
      padding-right: 10px;
      .dots{
        padding-right: 10px;

      }
      .dollar{
        padding-right: 10px;

      }
      .deliverytext
      {
        position: relative;
        top: -3px;
        font-size: 16px;
        font-weight: 500;
      }
     
    }
  
  
  

  
     
  }
  .headingtwosection {
   display: flex;
   flex-direction: row;

   

  }
}
.tableone {
  width: 340px;
  height: 700px;
  .itemheading {
    height: 25px;
  }
  .itemimage {
    width: 60px;
    height: 25px;
    padding: 5px;
    border: 1px solid red;
  }
  .itemname {
    width: 150px;
    height: 25px;
    padding: 5px;
    border: 1px solid red;
  }
  .itemcode {
    width: 60px;
    height: 25px;
    padding: 5px;
    border: 1px solid red;
  }
}
