* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .sidenav {
    position: fixed;
    font-family: "Poppins", sans-serif;
    left: 22px;
    width: 300px;
    // box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
    height: 200vh;
    border-bottom-style: none;
  }
  
  .resnamelocation {
    display: flex;
    flex-direction: row;
    margin-top: 18px;
  }
  
  .dropdownsidenav {
    display: flex;
    flex-direction: row;
  }
  
  .dropdown-toggle {
    background: none;
    border: none;
    outline: none;
    margin-top: -3px;
    margin-left: 3px;
    width: 10px;
    height: 10px;
  }
  
  .resname {
    font-size: 14px;
  }
  
  .reslocation {
    font-size: 12px;
  }
  
  .pagelink {
    display: flex;
    flex-direction: row;
    padding: 18px;
  }
  
  .pagelinks {
    width: 280px;
    border: none;
    margin-top: 8px;
  }
  
  .pagelink p {
    padding-left: 20px;
    font-size: 14px;
  }
  
  .dropdown-menu {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2); /* Right-side shadow only */
    /* z-index: 1; */
    width: 150px;
    top: 100px;
  }
  
  .dropdown-item {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
  }
  
  .dropdown-toggle img {
    width: 10px;
    height: 10px;
  }
  
  .offeroptions {
    display: flex;
    flex-direction: column;
  }
  
  .pg8 {
    display: flex;
    flex-direction: column;
  }
  
  .pagelinksub {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    width: 150px;
    text-align: left;
    margin-left: 70px;
  }
  
  .pagelinksub p {
    padding: 3px;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
  }
  
  .pg4 {
    color: #67833e;
  }
  
  @media screen and (max-width: 1280px) {
    .sidenav {
      position: fixed;
      left: 22px;
      width: 300px;
    }
    .pagelinks {
      width: 280px;
    }
  
    .resname {
      font-size: 14px;
    }
    .reslocation {
      font-size: 12px;
    }
    .resnamelocation .resimg {
      width: 80px;
      height: 80px;
    }
    .dropdown-toggle img {
      width: 10px;
      height: 10px;
    }
    .dropdown-toggle {
      margin-top: -3px;
    }
  
    .resnamelocation {
      margin-top: 18px;
    }
  
    .pagelink {
      padding: 18px;
    }
  
    .pagelinks {
      width: 280px;
      border: none;
      margin-top: 8px;
    }
  
    .pagelink p {
      padding-left: 20px;
      font-size: 14px;
    }
    .pagelink img {
      width: 20px;
      height: 20px;
    }
    .pagelinksub p {
      padding: 3px;
  
      font-size: 14px;
    }
  }
  
  /* Media query for max-width 1080px */
  @media screen and (max-width: 1080px) {
    .sidenav {
      position: fixed;
      left: 20px;
      width: 200px;
    }
    .pagelink {
      padding: 16px;
    }
    .pagelinks {
      width: 180px;
    }
    .resname {
      font-size: 12px;
      margin-top: -15px;
    }
    .reslocation {
      font-size: 10px;
      margin-top: -2px;
    }
    .resnamelocation .resimg {
      width: 60px;
      height: 60px;
    }
    .dropdown-toggle img {
      width: 8px;
      height: 8px;
    }
  
    .dropdown-toggle {
      margin-top: -10px;
    }
    .resnamelocation {
      margin-top: 14px;
    }
  
    .pagelinks {
      width: 280px;
      border: none;
      margin-top: 8px;
    }
  
    .pagelink p {
      padding-left: 18px;
      font-size: 12px;
    }
    .pagelink img {
      width: 18px;
      height: 18px;
    }
    .pagelinksub p {
      padding: 2px;
  
      font-size: 10px;
    }
  }
  
  /* Media query for max-width 800px */
  @media screen and (max-width: 800px) {
    .sidenav {
      position: fixed;
      left: 18px;
      width: 180px;
    }
    .pagelink {
      padding: 14px;
    }
    .pagelinks {
      width: 160px;
    }
    .resname {
      font-size: 10px;
      margin-top: -18px;
    }
    .reslocation {
      font-size: 8px;
      margin-top: -4px;
    }
    .resnamelocation .resimg {
      width: 40px;
      height: 40px;
    }
    .dropdown-toggle img {
      width: 6px;
      height: 6px;
    }
    .dropdown-toggle {
      margin-top: -13px;
    }
    .resnamelocation {
      margin-top: 12px;
    }
    .pagelink {
      display: flex;
      flex-direction: row;
      padding: 18px;
    }
  
    .pagelinks {
      width: 280px;
      border: none;
      margin-top: 8px;
    }
  
    .pagelink p {
      padding-left: 16px;
      font-size: 10px;
    }
    .pagelink img {
      width: 16px;
      height: 16px;
    }
    .pagelinksub p {
      padding: 1px;
  
      font-size: 8px;
    }
  }
  
  /* Media query for max-width 500px */
  @media screen and (max-width: 500px) {
    .sidenav {
      position: fixed;
      left: 16px;
      width: 150px;
    }
    .pagelink {
      padding: 12px;
    }
    .pagelinks {
      width: 130px;
    }
  
    .resname {
      font-size: 8px;
      margin-top: -20px;
    }
    .reslocation {
      font-size: 6px;
      margin-top: -2px;
    }
    .resnamelocation .resimg {
      width: 20px;
      height: 20px;
    }
    .dropdown-toggle img {
      width: 4px;
      height: 4px;
    }
    .dropdown-toggle {
      margin-top: -15px;
    }
    .resnamelocation {
      margin-top: 10px;
    }
    .pagelink {
      display: flex;
      flex-direction: row;
      padding: 18px;
    }
  
    .pagelinks {
      width: 280px;
      border: none;
      margin-top: 8px;
    }
  
    .pagelink p {
      padding-left: 14px;
      font-size: 8px;
    }
    .pagelink img {
      width: 14px;
      height: 14px;
    }
    .pagelinksub p {
      padding: 1px;
  
      font-size: 6px;
    }
  }