*
{
  font-family: "Poppins",sans-serif;
}
.navigation
{
  
  width: 18.813rem;
  position: relative;
height: 2.25rem;
top: 2.363rem;
left: 21.813rem;


}

.Mainheading{
  width: 400px;
  font-size:1.5rem;
  font-weight:500;
  // margin-left: 3.2rem;
  color: #67833E;
  line-height: 36px;
  margin-left: 12px;

margin-top: 30px;
margin-bottom: 40px;
}


.listofnavigation
{  
   display: flex;
   flex-direction: row;
}

// .navbar
// {
//   width:200px ;
//   height: 10px;
//   background-color:  #67833e;
// }
.lists
{
  width: 21.875rem;
  list-style: none;
  margin-left: 12px;
 

}

.navbar{
  color: black;
  width: 19.95rem;
height: 0.413rem;
  padding-bottom: 0.313rem;
  list-style: none;


  // border-bottom: 10px solid  #979797;
  transition: border-color 0.3s;
  border-radius: 0.625rem;
  background-color: #979797;
  cursor: pointer;
}

.navbar.active {
  background-color: #67833E;
  cursor: pointer;
 
}
.list-text {
  font-size: 18px;
  font-weight:500;
  font-family: "Poppins",sans-serif;
  color:#979797;
  position: relative;
 margin-bottom: 6px
  ;
  cursor: pointer;

  &.activetext {
      color: black; // Change color to black when active
      cursor: pointer;
      font-weight:500;
  }
}