*{
  font-family: "Poppins", sans-serif;
}

.Primarymain {
  position: relative;
  // top: 20%;
  left: 5.2%;
  width: 71.875%;
  // margin-top: -100px;
 
  // margin-top: 10%;
 
  // border: 1px solid red;

 &::-webkit-scrollbar {
   display: none;
  }

}


.mainpage
{
  display: flex;
 margin-top: 20px;
  // border: 1px solid red;
position: absolute;
 margin-left:-53px ;
  flex-direction: column;
  height: 35.125rem;
  width: 78.875rem;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
   }
 
}

.primecontainer {
  display: flex;
  flex-direction: row;

  .dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
  
    li {
      list-style: none;
      cursor: pointer;
    }

    
  .dropdowns {
    display: flex;
    flex-direction: row;
    margin-top: 0.375rem;
    input {
      position: relative;
      left: 1rem;
      padding: 0.188rem;
      top: 0.625rem;
      width: 1.25rem;
height: 1.25rem;

border: 0.031rem solid #67833E;


      accent-color: rgba(103, 131, 62, 1);
      cursor: pointer;
    }
    li {
      position: relative;
      top: 0.3rem;
      padding: 0.188rem;
      left: 1.5rem;
      // border: 1px solid black;
      width: 240px;
      height: 30px;
     
font-size: 0.875rem;
font-weight: 400;
color:#979797;
.dropdowndeletionbtn
{
  position: relative;
 display: flex;
 justify-content:right;
  // border: 1px solid red;
  top: -20px;
 
}


    }

  
  }
  }

}
.primarycontainer1 {
  width: 22.938rem;
  height: 55.188rem;
  // border: 0.063rem solid black;

  .itemname {
    position: relative;
    top: 0;
    width: 20rem;
    height: 6rem;
    // border: 1px solid red;

    .itemnameinput
    {
      border: 1px solid red;

    }
    

  }
  .DietaryType {
    position: relative;
    width: 20rem;
    height: 6rem;
    // border: 1px solid red;
    // top: 2.4rem;
    

  
  }
  .cuisine {
    position: relative;
    width: 20rem;
    height: 6rem;
     // top: 3.6rem;
    // border: 1px solid red;

   
  }
  .mealtype {
    position: relative;
    width: 20rem;
    height: 6rem;
    // border: 1px solid red;
    // top: 4.7rem;
    
  }
  .bestpairfood {
    position: relative;
    width: 20rem;
    height: 6rem;
    // border: 1px solid red;
    
  }
  .description {
    position: relative;
    // top: 2rem;
    width: 18.9rem;
    height: 7.375rem;
    border-radius: 0.313rem;
    color: #979797;
    font-weight: 400;
    // border: 0.063rem solid #000000;
    // opacity: 0.019rem;
    outline: none;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  .character-count {
    position: relative;
    // bottom: 0.625rem;
    // right: 0.625rem;
    top: -1.9rem;
    left: 15.4rem;
    font-size: 0.875rem;
    color: #ccc;
  }
  .alcohol
  {
    position: relative;
    width: 20rem;
    height: 6rem;
    top: 2.5rem;
  

    h3{
      font-family: "Poppins", sans-serif;
      font-size: 0.875rem;
      font-weight: 400;

      color: #000000;

    }

   

   
  

   
    .alcoholradio1{
      width: 1.25rem;
      height: 1.25rem;
      border: 1px solid #67833E;
      position: relative;
      top: 0.625rem;
      left: 5px;
      accent-color:  #67833E;
      color: #67833E;
      opacity: 100%;

    }
   
    .alcoholradio2{
      width: 1.25rem;
      height: 1.25rem;
      border: 1px solid #67833E;
      position: relative;
      top: 0.625rem;
      left: 50px;
      accent-color:  #67833E;
      color: #67833E;
      opacity: 100%;

    }
    
    #alcoholradiotext1 {
      position: relative;
      top: 0.65rem;
      left: -1px;
      padding-left: 0.625rem;
      color: #979797;
      right: 30px;
      font-size: 0.875rem;
      font-weight: 400;
    }
    #alcoholradiotext2 {
      position: relative;
      top: 0.65rem;
      left:45px;
      padding-left: 0.625rem;
      font-size: 0.875rem;
      color: #979797;
      font-weight: 400;
    }

  }
  .foodimage {
    position: relative;
    top: 1rem;

    // border: 1px solid red;
   width: 21.875rem;
 

    .image-container {
     
    position: relative;
    width: 100px;
    height: 100px;
    // border: 1px solid red;

    .imcrossstyres
    {
     position: absolute;
     top: 12px;
     left: 60px;
     width: 20px;
     height: 20px;
     border-radius: 50px;
   border: none;
     background-color: 
     #F23D3D;
     z-index: 1;
     display: flex;
     justify-content: center;
     align-items: center;


    }
 
      

      .uploaded-image {
        position: relative;
        top: 0.063rem;
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 3.125rem;
        padding: 0.313rem;
        position: relative;
        top: 1rem;
      
      }
    }
    .addingimg {
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 3.125rem;
      padding: 0.313rem;
      position: relative;
      top: 1rem;
     
      // border: 1px solid red;
    }

    .imagealignment {
      display: flex;
      flex-direction: row;
     
     
    }

    h3 {
      font-family: "Poppins", sans-serif;
      font-size: 0.875rem;
      font-weight: 400;

      color: #000000;
    }
    p {
      font-size: 0.75rem;
      font-weight: 300;

      color: #979797;
      position: relative;
      top: 0.0623rem;
    }

    .imgfile {
      display: none;
    }
    // .uploaded-image {
    //   width: 60px;
    //   height: 60px;
    // }
  }

  .bestpairtooltip
  {
    margin-top: 25px;
  }


}

.primarycontainer2 {
  width: 20.938rem;
  height: 39.813rem;
  position: relative;
  left: 1.8rem;

  .itemcodetooltip
  {
    margin-top: 25px;
    margin-left: -70px;
  }

  .itemcode {
    position: relative;
    top: 0;
    width: 20rem;
    height: 6rem;
    // // border: 1px solid red;
  }
  .barcode {
    position: relative;
    width: 20rem;
    height: 6rem;
    // border: 1px solid red;
  }
  .popularitem {
    position: relative;
    top:2rem;
    width: 20rem;
    height: 6rem;
    // border: 1px solid red;

    input {
      width: 1.25rem;
      height: 1.25rem;
      accent-color: rgba(103, 131, 62, 1);
    }
    span {
      font-family: "Poppins", sans-serif;
      font-size: 0.875rem;
      font-weight: 300;
      position: relative;
      top: -0.313rem;
      left: 1rem;
    }
  }
  .categoryfields {
    display: flex;
    flex-direction: row;
    position: relative;
    // top: 8.59rem;
  }

  .category {
    position: relative;
    width: 20rem;
    height: 6rem;
    // border: 1px solid red;
    
  }
  .subcategory {
    position: relative;
    width: 20rem;
    height: 6rem;
    // border: 1px solid red;

    left: 0.625rem;
  
  }
  .description {
    position: relative;
    // top: 9.59rem;
    width: 38.563rem;
    height: 16.813rem;
    top: 25px;


    font-size: 0.875rem;
    padding: 0.625rem;
    border-radius: 0.313rem;
    border: 1px solid rgba(0, 0, 0, 0.3);


    p{
   
font-size: 0.875rem;
font-weight: 400;
line-height: 1.313rem;
margin-left: 0.313rem;


    }
    .allergensselection {
      height: 8.75rem;
      
      overflow-x: hidden;
      overflow-y: auto;
    }
    .allergensselection::-webkit-scrollbar {
      width: 0.5rem;
      overflow-y: scroll;
    }

    .allergensselection::-webkit-scrollbar-track {
      background: #979797;
      border-radius: 0.625rem;
      overflow-y: scroll;
    }
    .searchingicon {
      margin-top: 0.938rem;
      margin-left: 0.313rem;

      img {
        position: relative;
        left: -1.875rem;
        top: 0.625rem;
      }
    }
    .imgalignment {
      display: flex;
      flex-direction: row;
      width: 35.625rem;
      height: 9.375rem;
      // border: 1px solid red;
      flex-wrap: wrap;
      position: relative;
      top: 0.625rem;

      .eachimg {
        display: flex;
        flex-direction: column;
        width: 3.125rem;
        height: 2.5rem;

        position: relative;

        .images {
          width: 1.875rem;
          height: 1.875rem;

          position: relative;
          top: 0.625rem;
          left: 0.5rem;
        }
        p {
          position: absolute;
          top: 2.188rem;
          left: 0.25rem;
          font-size: 0.5rem;
          font-weight: 400;

          width: 1.875rem;
          height: 0.938rem;
          color: #000000;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;

          text-align: center;
        }
      }
    }

    .selectedallergens {
      display: flex;
      flex-wrap: wrap;
      width: 37.5rem;
      position: relative;
      top: 0.625rem;
      bottom: 0.625rem;

      .imageitem {
        display: flex;
        flex-direction: row;
        // width: 130px;

        height: 40px;
        margin-left: 10px;
        position: relative;
        margin-bottom: 10px;
        padding: 2px;
        // gap: 15px;
        border-radius: 5px;
        display: flex;
        
        border: 1px solid #b3b3b3;

        img {
          width: 30px;
          height: 30px;
          // margin-left: -40px;
          
        }
        .textwbtn
        {
          padding-right: 10px;
          p {
            position: relative;
            top: 5px;

          };
          button{
            background: none;
            border: none;
            position: relative;
            top: 1px;
            left: 5px;           
            .deleteimg
            {
              
              width: 18px;
              height: 18px;

            }              
            
          }
        }
        
      }
    }
  }
}
.primarycontainer3 {
  width: 43.563rem;
  // height: 45.188rem;
    // border: 0.063rem solid black;
  .description {
    position: relative;
    top: 1.2rem;
    width: 40.938rem;
    height: 20.688rem;
    font-size: 0.875rem;
    padding: 0.625rem;
    border-radius: 0.313rem;
    border: 1px solid rgba(0, 0, 0, 0.3);

    p{
      
font-size: 0.875rem;
font-weight: 400;
line-height: 21px;
margin-left: 5px;


    }




    .allergensselection {
    
      height: 235px;
      overflow-x: hidden;
      overflow-y: auto;
      // border: 1px solid red;
      
    }
    .allergensselection::-webkit-scrollbar {
      width: 8px;
    }

    .allergensselection::-webkit-scrollbar-track {
      background: #979797;
      border-radius: 10px;
    }
    .searchingicon {
      margin-top: 15px;
      margin-left: 5px;
      img {
        position: relative;
        left: -30px;
        top: 10px;
      }
    }

    .imgalignment {
      display: flex;
      flex-direction: row;
      width: 600px;
      height: 150px;
      // border: 1px solid red;
      flex-wrap: wrap;
      position: relative;
      top: 10px;

      .eachimg {
        // display: flex;
        // flex-direction: column;
        // width: 50px;
        // height: 40px;
        width: 50px;
        height: 50px;
        // border: 1px solid red;
      margin: 7px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    
        // position: relative;
       



        .images {
          width: 30px;
          height: 30px;
       
        // padding-right: 10px;
        // padding-left: 10px;
        //   position: relative;
        //   top: 1px;
        //   left: 8px;
        //  padding-left: 10px;
        }
        p {
          // position: absolute;
          // top: 35px;
          // left: 4px;
          font-family: "Poppins",sans-serif;
          font-size: 8px;
          font-weight: 400;

          width: 35px;
          height: 30px;
          // border: 1px solid red;
color: #000000;
          display: flex;
          // flex-direction: row;
          flex-wrap: wrap;
          // justify-content: center;

          // text-align: center;
        }
      }
    }

    
    .selectedallergens {
      display: flex;
      flex-wrap: wrap;
      width: 600px;
      position: relative;
      top: 10px;
      bottom: 10px;

      .imageitem {
        display: flex;
        flex-direction: row;
        // width: 130px;

        height: 40px;
        margin-left: 10px;
        position: relative;
        margin-bottom: 10px;
        padding: 2px;
        // gap: 15px;
        border-radius: 5px;
        display: flex;
        
        border: 1px solid #b3b3b3;

        img {
          width: 30px;
          height: 30px;
       
          
        }
       
        .textwbtn
        {
          padding-right: 10px;
          p {
            position: relative;
            top: 5px;

          };
          button{
            background: none;
            border: none;
            position: relative;
            top: 1px;
            left: 5px;           
            .deleteimg
            {
              
              width: 18px;
            height: 18px;

            }              
            
          }
        }
      }
    }

   
   
  }
  .otherdetails {
    position: relative;
    top: 3rem;
    h3 {
      font-size: 0.875rem;
      font-weight: 300;
      color: #000000;
    }
   
    .calorie {
      position: absolute;
      top: 2.7rem;
      display: flex;
      flex-direction: row;
      // border: 1px solid red;
      .caloriewithsapn{
        // border: 1px solid red;
        width: 340px;

      }

      .caloriespan{
        color: #979797;
        position: relative;
        top: 0.625rem;
        left: -50px;
      
        font-size: 0.875rem;
        font-weight: 400;

      }
      .calorieradio {
        position: relative;
        // left: 40px;
        width: 300px;
        height: 40px;
        top: 25px;
       

      }
      .calorieradio1 {
        width: 20px;
        height: 20px;  
        position: relative;
        top: 0.625rem;      
        accent-color:  #67833E;
        border: 1px solid #67833E;
        opacity: 100%;
       
      }
      .calorieradio2 {
        width: 1.25rem;
        height: 1.25rem;
        border: 1px solid #67833E;
        position: relative;
        top: 0.625rem;
        left: 5px;
        accent-color:  #67833E;
        color: #67833E;
        opacity: 100%;
       

       
      }
      #calorietext1 {
        position: relative;
        top: 0.25rem;
        left: -3px;
        padding-left: 0.625rem;
        color: #979797;
        right: 30px;
        font-size: 0.875rem;
        font-weight: 400;
      }
      #calorietext2 {
        position: relative;
        top: 0.25rem;
        left:5px;
        padding-left: 0.625rem;
        font-size: 0.875rem;
        color: #979797;
        font-weight: 400;
      }
    }
    .portionsize {
      position: absolute;
      top: 7.5rem;
      display: flex;
      flex-direction: row;
      .portioninput{
        // border: 1px solid red;
        width: 340px;
        .portionspangrams{
          color: #979797;
          position: relative;
          top:-26px;
          left: 210px;
        
          font-size: 0.875rem;
          font-weight: 400;
  
        }
        .portionspanpiecse
        {
          color: #979797;
          position: relative;
          top:-26px;
          left: 235px;
        
          font-size: 0.875rem;
          font-weight: 400;

        }
      }

     
      

      .portionsizeradio {
        position: relative;
        top: 25px;
        width: 300px;
        height: 40px;

        .portionsizetooltip
        {
          position: relative;
          left: 20px;
          top: -5px;
        }
       

      }

      .portionsizeradio1 {
        width: 20px;
        height: 20px;  
        position: relative;
        top: 0.625rem;      
        accent-color:  #67833E;
        border: 1px solid #67833E;
        opacity: 100%;
      }
      .portionsizeradio2 {
        width: 1.25rem;
        height: 1.25rem;
        border: 1px solid #67833E;
        position: relative;
        top: 0.725rem;
        accent-color:  #67833E;
        color: #67833E;
        left: 10px;
        opacity: 100%;
       

       
      }
      #portionsizetext1 {
        position: relative;
        top: 10px;
        left: -1px;
        padding-left: 0.625rem;
        color: #979797;

        font-size: 0.875rem;
        font-weight: 400;
      }
      #portionsizetext2 {
        position: relative;
        top: 10px;
        left:7px;
        padding-left: 0.625rem;
        font-size: 0.875rem;
        color: #979797;
        font-weight: 400;
      }



      .portionsizeinput2 {
        position: relative;
        left: 3.5rem;
      }
    }
    .Taxclass {
      position: absolute;
      top: 12.5rem;
      display: flex;
      flex-direction: row;
      

      .MasterCode{
        display: flex;
        flex-direction: row;
        margin-left: -1px;
        position: relative;
        top: 25px;

        .mastecodeinputs
        {
          margin-left: -20px;
        }
      


        span{
         
width: 150px;
margin-left: 1px;
color: #979797;
position: relative;
top: 10px;

font-size: 0.875rem;
font-weight: 400;





        }
        input{
          width: 35.87px;
height: 40px;


border-radius: 5px ;
margin-left: 5px;


border: 1px solid rgba(0, 0, 0, 0.3);
        }
      }


    }
  }
}
.primaryinputfield {
  input {
    width: 18.9rem;
    height: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    padding-left: 0.625rem;
    border-radius: 0.313rem;
    color: #979797;
    font-weight: 400;
    // border: 0.063rem solid #000000;
    border: 1px solid rgba(0, 0, 0, 0.3);

    &::placeholder{
      
    font-weight: 400;
    color: #979797;

    }
    
  }
  textarea {
    width: 18.75rem;
    height: 2.5rem;
    font-size: 0.875rem;
    padding: 0.625rem;
    border-radius: 0.313rem;
    color: #979797;
    font-weight: 500;

   
    border: 1px solid rgba(0, 0, 0, 0.3);
    &::placeholder{
      
    font-weight: 400;
    color: #979797;
    // opacity: 40%;

    }
  }
}

.primaryselectfields {
  font-family: "Poppins", sans-serif;

  .select {
    width: 18.9rem;
    height: 2.5rem;
    position: relative;
    padding-left: 0.625rem;
    color: #979797;
    font-weight: 400;
    // z-index: -1;
    font-family: "Poppins", sans-serif;

    // background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.313rem;
    // border: 0.063rem solid #000000;
    // opacity: 30%;
    &::placeholder{
      
    font-weight: 400;
    color: #979797;

    }
  }
  option {
    font-family: "Poppins", sans-serif;
  }
}

.arrowbtn {
  background-color: transparent;
  border: none;
  position: relative;
  left: 16.5rem;
  top: -1.875rem;
  opacity: 50%;


  .img2 {
    rotate: 180deg;
    
  }
}


.scrolling {
  width: 18.9rem;
  height: 4rem;
  overflow-y: auto;
  overflow-x: hidden;
  flex-flow: column wrap;
}
.dropdown-containerprimary {
  position: absolute;
  z-index: 1;
  top: 70px;
  width: 18.9rem;
  height: 9rem;

  background: #ffffff;
  box-shadow: 1px 1px 10px 0px #00000040;

  .dropscroll {
    width: 18.9rem;
    height: 6rem;
    overflow-y: auto;
    overflow-x: hidden;

    .dropdown
    {
      li {
        position: relative;
        top: 7px;

      };

    }


    


  }
  .dropscroll::-webkit-scrollbar {
   display: none;
  }

  .dropscroll::-webkit-scrollbar-track {
    background: #979797;
    border-radius: 10px;
  }


}

// .addnewlist {
//   position: relative;
//   margin-top: -10px;
//   margin-left: 30px;
//   width: 109px;

//   button {
//     width: 109px;
//     height: 33px;
//     left: 1px;
//     color: #ffffff;
//     border-radius: 4px;
//     background: #779749;
//     outline: none;
//     border: 1px solid #779749;
//   }
// }




.addnewitem
{
  position: relative;
  top: 5px;
// padding: 3px;
left: 5px;
width: 290px;
height: 34px;
border: 1px solid #779749;
 border-radius: 4px;
  input{
    width: 232px;
    height: 30px;
    // border: 1px solid #779749;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px 0px 0px 10px;
  }
  button{
    width: 56.3px;
    height: 33px;
    border: none;
    outline: none;
    // border: 1px solid #779749;
    background-color:#779749 ;
    color: #ffffff;

    border-radius: 0px 3px 3px 0px;

  }



}


input:focus{
  outline: none;

}
.errormsgfordropdown
    {
      font-family: "Poppins", sans-serif;
      font-size: 0.75rem;
      font-weight: 500;
      color: red;
      // margin-top: -20px;
      position: relative;
      top: -21px;
    }
.erormsgformastercode
{
  font-family: "Poppins", sans-serif;
      font-size: 0.75rem;
      font-weight: 500;
      color: red;
      margin-top: 50px;
      margin-left: 135px;
      position: relative;
     
}

.errormsgforinputfield{
  font-family: "Poppins", sans-serif;
      font-size: 0.75rem;
      font-weight: 500;
      color: red;

}


    
    .addnewlist {
      display: flex;
      flex-direction:row;
      position: relative;
      top: 0.613rem;

      left:8rem;
      button {
        width: 6.813rem;
        height: 2.063rem;
        left: 0.063rem;
        color: #ffffff;
        border-radius: 0.25rem;
        background: #779749;
        outline: none;
        border: 1px solid #779749;
      }
      p{
        position: relative;
        left: -10px;
        cursor: pointer;
        width: 50px;
        padding: 2px;
        

      }
      .dropdowndone
      {
       border-radius: 4px;
        border: 1px solid #779749;

font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
color: #67833E;


      }
      .editicon
      {
        position: relative;
        left: 25px;
       
      }
    }

    .primarylables
    {
      font-size: 14px;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    color: #666666;
    }
    .buttoncomponentprimary
    {
      position: relative;
      top:  350px;
      left: -10px;
    
      .link{
        text-decoration: none;
      }
    }

    .dropdowndeletionbtn
    {
     position: relative;
   
    }


    // @media (max-width:1280px)
    // {
    //   .Primarymain {
    //     position: relative;
    //     top: 20%;
    //     left: 3%;
    //     width: 50%;
    //     height: 80%;
    //     margin-top: 10%;
        
      
      
    //   }
    // }

    


    
    @media (max-width:1281px)
    {
      .Primarymain
      {
        position: relative;
        top: 2%;
        left:10px ;
        width: 885px;
        height: 43.75rem;
        // border: 1px solid red;
      }
      .primaryinputfield {
        input {
          width: 15.9rem;
          height: 2.5rem;
          font-family: "Poppins", sans-serif;
          font-size: 0.875rem;
          padding-left: 0.625rem;
          border-radius: 0.313rem;
          color: #979797;
          font-weight: 400;
          // border: 0.063rem solid #000000;
          border: 1px solid rgba(0, 0, 0, 0.3);
      
          &::placeholder{
            
          font-weight: 400;
          color: #979797;
      
          }
          
        }
        textarea {
          width: 15.75rem;
          height: 2.5rem;
          font-size: 0.875rem;
          padding: 0.625rem;
          border-radius: 0.313rem;
          color: #979797;
          font-weight: 500;
      
         
          border: 1px solid rgba(0, 0, 0, 0.3);
          // border: 1px solid red;
          &::placeholder{
            
          font-weight: 400;
          color: #979797;
          // opacity: 40%;
      
          }
        }
        .countbox{
          display: flex;
          flex-direction: column;
        }
      }


      .primaryselectfields {
        display: flex;
        
        font-family: "Poppins", sans-serif;
        // border: 0.063rem solid #000000;
        .labelandinput
        {
          display: flex;
          flex-direction: column;

        }
        .arrowbtn
        {
          position: relative;
          left: -2rem;
          top: -0.5rem;
          
        }
        .bestpairarrowbtn
        {
          position: relative;
          left: -5rem;
          top: -0.5rem;

        }
      
        .select {
          width: 15.9rem;
          height: 2.5rem;
          position: relative;
          padding-left: 0.625rem;
          color: #979797;
          font-weight: 400;
          // z-index: -1;
          font-family: "Poppins", sans-serif;
      
          // background: transparent;
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 0.313rem;
         
          // opacity: 30%;
          &::placeholder{
            
          font-weight: 400;
          color: #979797;
      
          }
        }
        option {
          font-family: "Poppins", sans-serif;
        }
      }

      .primarycontainer1{
        .itemname
        {
          display: flex;
          flex-direction: column;
        }
        .description {
          position: relative;
          // top: 2rem;
          width: 15.9rem;
          height: 7.375rem;
          border-radius: 0.313rem;
          color: #979797;
          font-weight: 400;
          // border: 0.063rem solid #000000;
          // opacity: 0.019rem;
          outline: none;
          resize: none;
          border: 1px solid rgba(0, 0, 0, 0.3);
        }
      
        .character-count {
          position: relative;
          // bottom: 0.625rem;
          // right: 0.625rem;
          top: -1.9rem;
          left: 12.4rem;
          font-size: 0.875rem;
          color: #ccc;
        }

      }
     















      .primarycontainer2
      {
        margin-left: -70px;
        .description {
          position: relative;
          // top: 9.59rem;
          width: 40.563rem;
          height: 16.813rem;
          top: 25px;
      
      
          font-size: 0.875rem;
          padding: 0.625rem;
          border-radius: 0.313rem;
          border: 1px solid rgba(0, 0, 0, 0.3);
      
      
          p{
         
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.313rem;
      margin-left: 0.313rem;
      
      
          }
          .allergensselection {
            display: flex;
            flex-wrap: wrap;
            height: 8.75rem;
            width: 32rem;
            overflow-x: hidden;
            overflow-y: auto;
          }
          .allergensselection::-webkit-scrollbar {
            width: 0.5rem;
            overflow-y: scroll;
          }
      
          .allergensselection::-webkit-scrollbar-track {
            background: #979797;
            border-radius: 0.625rem;
            overflow-y: scroll;
          }
          .searchingicon {
            margin-top: 0.938rem;
            margin-left: 0.313rem;
      
            img {
              position: relative;
              left: -1.875rem;
              top: 0.625rem;
            }
          }
          .imgalignment {
            display: flex;
            flex-direction: row;
            width: 35.625rem;
            height: 9.375rem;
            // border: 1px solid red;
            flex-wrap: wrap;
            position: relative;
            top: 0.625rem;
      
            .eachimg {
              display: flex;
              flex-direction: column;
              width: 3.125rem;
              height: 2.5rem;
      
              position: relative;
      
              .images {
                width: 1.875rem;
                height: 1.875rem;
      
                position: relative;
                top: 0.625rem;
                left: 0.5rem;
              }
              p {
                position: absolute;
                top: 2.188rem;
                left: 0.25rem;
                font-size: 0.5rem;
                font-weight: 400;
      
                width: 1.875rem;
                height: 0.938rem;
                color: #000000;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
      
                text-align: center;
              }
            }
          }
      
          .selectedallergens {
            display: flex;
            flex-wrap: wrap;
            width: 37.5rem;
            position: relative;
            top: 0.625rem;
            bottom: 0.625rem;
      
            .imageitem {
              display: flex;
              flex-direction: row;
              // width: 130px;
      
              height: 40px;
              margin-left: 10px;
              position: relative;
              margin-bottom: 10px;
              padding: 2px;
              // gap: 15px;
              border-radius: 5px;
              display: flex;
              
              border: 1px solid #b3b3b3;
      
              img {
                width: 30px;
                height: 30px;
                // margin-left: -40px;
                
              }
              .textwbtn
              {
                padding-right: 10px;
                p {
                  position: relative;
                  top: 5px;
      
                };
                button{
                  background: none;
                  border: none;
                  position: relative;
                  top: 1px;
                  left: 5px;           
                  .deleteimg
                  {
                    
                    width: 18px;
                    height: 18px;
      
                  }              
                  
                }
              }
              
            }
          }
        }

      }
      .primarycontainer3 {
        width: 43.563rem;
        // height: 45.188rem;
          // border: 0.063rem solid black;
        .description {
          position: relative;
          top: 1.2rem;
          width: 40.938rem;
          height: 20.688rem;
          font-size: 0.875rem;
          padding: 0.625rem;
          border-radius: 0.313rem;
          border: 1px solid rgba(0, 0, 0, 0.3);
      
          p{
            
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 21px;
      margin-left: 5px;
      
      
          }
      
      
      
      
          .allergensselection {
          
            height: 235px;
            overflow-x: hidden;
            overflow-y: auto;
            // border: 1px solid red;
            
          }
          .allergensselection::-webkit-scrollbar {
            width: 8px;
          }
      
          .allergensselection::-webkit-scrollbar-track {
            background: #979797;
            border-radius: 10px;
          }
          .searchingicon {
            margin-top: 15px;
            margin-left: 5px;
            img {
              position: relative;
              left: -30px;
              top: 10px;
            }
          }
      
          .imgalignment {
            display: flex;
            flex-direction: row;
            width: 600px;
            height: 150px;
            // border: 1px solid red;
            flex-wrap: wrap;
            position: relative;
            top: 10px;
      
            .eachimg {
              // display: flex;
              // flex-direction: column;
              // width: 50px;
              // height: 40px;
              width: 50px;
              height: 50px;
              // border: 1px solid red;
            margin: 7px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          
              // position: relative;
             
      
      
      
              .images {
                width: 30px;
                height: 30px;
             
              // padding-right: 10px;
              // padding-left: 10px;
              //   position: relative;
              //   top: 1px;
              //   left: 8px;
              //  padding-left: 10px;
              }
              p {
                // position: absolute;
                // top: 35px;
                // left: 4px;
                font-family: "Poppins",sans-serif;
                font-size: 8px;
                font-weight: 400;
      
                width: 35px;
                height: 30px;
                // border: 1px solid red;
      color: #000000;
                display: flex;
                // flex-direction: row;
                flex-wrap: wrap;
                // justify-content: center;
      
                // text-align: center;
              }
            }
          }
      
          
          .selectedallergens {
            display: flex;
            flex-wrap: wrap;
            width: 600px;
            position: relative;
            top: 10px;
            bottom: 10px;
      
            .imageitem {
              display: flex;
              flex-direction: row;
              // width: 130px;
      
              height: 40px;
              margin-left: 10px;
              position: relative;
              margin-bottom: 10px;
              padding: 2px;
              // gap: 15px;
              border-radius: 5px;
              display: flex;
              
              border: 1px solid #b3b3b3;
      
              img {
                width: 30px;
                height: 30px;
             
                
              }
             
              .textwbtn
              {
                padding-right: 10px;
                p {
                  position: relative;
                  top: 5px;
      
                };
                button{
                  background: none;
                  border: none;
                  position: relative;
                  top: 1px;
                  left: 5px;           
                  .deleteimg
                  {
                    
                    width: 18px;
                  height: 18px;
      
                  }              
                  
                }
              }
            }
          }
      
         
         
        }
        .otherdetails {
          position: relative;
          top: 3rem;
          h3 {
            font-size: 0.875rem;
            font-weight: 300;
            color: #000000;
          }
         
          .calorie {
            position: absolute;
            top: 2.7rem;
            display: flex;
            flex-direction: row;
            // border: 1px solid red;
            .caloriewithsapn{
              // border: 1px solid red;
              width: 340px;
              display: flex;
              flex-direction: column;
      
            }
      
            .caloriespan{
              color: #979797;
              position: relative;
              top: -26px;
              left: 190px;
            
              font-size: 0.875rem;
              font-weight: 400;
      
            }
            .calorieradio {
              position: relative;
              left: -75px;
              width: 300px;
              height: 40px;
              top: 15px;
             
      
            }
            .calorieradio1 {
              width: 20px;
              height: 20px;  
              position: relative;
              top: 0.625rem;      
              accent-color:  #67833E;
              border: 1px solid #67833E;
              opacity: 100%;
             
            }
            .calorieradio2 {
              width: 1.25rem;
              height: 1.25rem;
              border: 1px solid #67833E;
              position: relative;
              top: 0.625rem;
              left: 5px;
              accent-color:  #67833E;
              color: #67833E;
              opacity: 100%;
             
      
             
            }
            #calorietext1 {
              position: relative;
              top: 0.25rem;
              left: -3px;
              padding-left: 0.625rem;
              color: #979797;
              right: 30px;
              font-size: 0.875rem;
              font-weight: 400;
            }
            #calorietext2 {
              position: relative;
              top: 0.25rem;
              left:5px;
              padding-left: 0.625rem;
              font-size: 0.875rem;
              color: #979797;
              font-weight: 400;
            }
          }
          .portionsize {
            position: absolute;
            top: 7.5rem;
            display: flex;
            flex-direction: row;
            .portioninput{
              // border: 1px solid red;
              display: flex;
              flex-direction: column;
              width: 340px;
              .portionspangrams{
                color: #979797;
                position: relative;
                top:-26px;
                left: 210px;
              
                font-size: 0.875rem;
                font-weight: 400;
        
              }
              .portionspanpiecse
              {
                color: #979797;
                position: relative;
                top:-26px;
                left: 175px;
              
                font-size: 0.875rem;
                font-weight: 400;
      
              }
            }
      
           
            
      
            .portionsizeradio {
              position: relative;
              top: 15px;
              left: -75px;
              width: 300px;
              height: 40px;
      
              .portionsizetooltip
              {
                position: relative;
                left: 20px;
                top: -5px;
              }
             
      
            }
      
            .portionsizeradio1 {
              width: 20px;
              height: 20px;  
              position: relative;
              top: 0.625rem;      
              accent-color:  #67833E;
              border: 1px solid #67833E;
              opacity: 100%;
            }
            .portionsizeradio2 {
              width: 1.25rem;
              height: 1.25rem;
              border: 1px solid #67833E;
              position: relative;
              top: 0.725rem;
              accent-color:  #67833E;
              color: #67833E;
              left: 10px;
              opacity: 100%;
             
      
             
            }
            #portionsizetext1 {
              position: relative;
              top: 10px;
              left: -1px;
              padding-left: 0.625rem;
              color: #979797;
      
              font-size: 0.875rem;
              font-weight: 400;
            }
            #portionsizetext2 {
              position: relative;
              top: 10px;
              left:7px;
              padding-left: 0.625rem;
              font-size: 0.875rem;
              color: #979797;
              font-weight: 400;
            }
      
      
      
            .portionsizeinput2 {
              position: relative;
              left: 3.5rem;
            }
          }
          .Taxclass {
            position: absolute;
            top: 12.5rem;
            display: flex;
            flex-direction: row;
            
      
            .MasterCode{
              display: flex;
              flex-direction: row;
              margin-left: -1px;
              position: relative;
              top: 25px;
      
              .mastecodeinputs
              {
                margin-left: -20px;
              }
            
      
      
              span{
               
      width: 150px;
      margin-left: 1px;
      color: #979797;
      position: relative;
      top: 10px;
      
      font-size: 0.875rem;
      font-weight: 400;
      
      
      
      
      
              }
              input{
                width: 35.87px;
      height: 40px;
      
      
      border-radius: 5px ;
      margin-left: 5px;
      
      
      border: 1px solid rgba(0, 0, 0, 0.3);
              }
            }
      
      
          }
        }
      }
      .buttoncomponentprimary{
        position: relative;
        top:  950px;
        left: -10px;
      }
     
    }




    @media (max-width:1281px)
    {
      .Primarymain
      {
        position: relative;
        top: 2%;
        left:10px ;
        width: 885px;
        height: 43.75rem;
        // border: 1px solid red;
      }
      .primaryinputfield {
        input {
          width: 15.9rem;
          height: 2.5rem;
          font-family: "Poppins", sans-serif;
          font-size: 0.875rem;
          padding-left: 0.625rem;
          border-radius: 0.313rem;
          color: #979797;
          font-weight: 400;
          // border: 0.063rem solid #000000;
          border: 1px solid rgba(0, 0, 0, 0.3);
      
          &::placeholder{
            
          font-weight: 400;
          color: #979797;
      
          }
          
        }
        textarea {
          width: 15.75rem;
          height: 2.5rem;
          font-size: 0.875rem;
          padding: 0.625rem;
          border-radius: 0.313rem;
          color: #979797;
          font-weight: 500;
      
         
          border: 1px solid rgba(0, 0, 0, 0.3);
          // border: 1px solid red;
          &::placeholder{
            
          font-weight: 400;
          color: #979797;
          // opacity: 40%;
      
          }
        }
        .countbox{
          display: flex;
          flex-direction: column;
        }
      }


      .primaryselectfields {
        display: flex;
        
        font-family: "Poppins", sans-serif;
        // border: 0.063rem solid #000000;
        .labelandinput
        {
          display: flex;
          flex-direction: column;

        }
        .arrowbtn
        {
          position: relative;
          left: -2rem;
          top: -0.3rem;
          
        }
        .bestpairarrowbtn
        {
          position: relative;
          left: -5rem;
          top: -0.5rem;

        }
      
        .select {
          width: 15.9rem;
          height: 2.5rem;
          position: relative;
          padding-left: 0.625rem;
          color: #979797;
          font-weight: 400;
          // z-index: -1;
          font-family: "Poppins", sans-serif;
      
          // background: transparent;
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 0.313rem;
         
          // opacity: 30%;
          &::placeholder{
            
          font-weight: 400;
          color: #979797;
      
          }
        }
        option {
          font-family: "Poppins", sans-serif;
        }
      }

      .primarycontainer1{
        .itemname
        {
          display: flex;
          flex-direction: column;
        }
        .description {
          position: relative;
          // top: 2rem;
          width: 15.9rem;
          height: 7.375rem;
          border-radius: 0.313rem;
          color: #979797;
          font-weight: 400;
          // border: 0.063rem solid #000000;
          // opacity: 0.019rem;
          outline: none;
          resize: none;
          border: 1px solid rgba(0, 0, 0, 0.3);
        }
      
        .character-count {
          position: relative;
          // bottom: 0.625rem;
          // right: 0.625rem;
          top: -1.9rem;
          left: 12.4rem;
          font-size: 0.875rem;
          color: #ccc;
        }

      }
     















      .primarycontainer2
      {
        margin-left: -70px;
        .description {
          position: relative;
          // top: 9.59rem;
          width: 40.563rem;
          height: 16.813rem;
          top: 25px;
      
      
          font-size: 0.875rem;
          padding: 0.625rem;
          border-radius: 0.313rem;
          border: 1px solid rgba(0, 0, 0, 0.3);
      
      
          p{
         
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.313rem;
      margin-left: 0.313rem;
      
      
          }
          .allergensselection {
            display: flex;
            flex-wrap: wrap;
            height: 8.75rem;
            width: 32rem;
            overflow-x: hidden;
            overflow-y: auto;
          }
          .allergensselection::-webkit-scrollbar {
            width: 0.5rem;
            overflow-y: scroll;
          }
      
          .allergensselection::-webkit-scrollbar-track {
            background: #979797;
            border-radius: 0.625rem;
            overflow-y: scroll;
          }
          .searchingicon {
            margin-top: 0.938rem;
            margin-left: 0.313rem;
      
            img {
              position: relative;
              left: -1.875rem;
              top: 0.625rem;
            }
          }
          .imgalignment {
            display: flex;
            flex-direction: row;
            width: 35.625rem;
            height: 9.375rem;
            // border: 1px solid red;
            flex-wrap: wrap;
            position: relative;
            top: 0.625rem;
      
            .eachimg {
              display: flex;
              flex-direction: column;
              width: 3.125rem;
              height: 2.5rem;
      
              position: relative;
      
              .images {
                width: 1.875rem;
                height: 1.875rem;
      
                position: relative;
                top: 0.625rem;
                left: 0.5rem;
              }
              p {
                position: absolute;
                top: 2.188rem;
                left: 0.25rem;
                font-size: 0.5rem;
                font-weight: 400;
      
                width: 1.875rem;
                height: 0.938rem;
                color: #000000;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
      
                text-align: center;
              }
            }
          }
      
          .selectedallergens {
            display: flex;
            flex-wrap: wrap;
            width: 37.5rem;
            position: relative;
            top: 0.625rem;
            bottom: 0.625rem;
      
            .imageitem {
              display: flex;
              flex-direction: row;
              // width: 130px;
      
              height: 40px;
              margin-left: 10px;
              position: relative;
              margin-bottom: 10px;
              padding: 2px;
              // gap: 15px;
              border-radius: 5px;
              display: flex;
              
              border: 1px solid #b3b3b3;
      
              img {
                width: 30px;
                height: 30px;
                // margin-left: -40px;
                
              }
              .textwbtn
              {
                padding-right: 10px;
                p {
                  position: relative;
                  top: 5px;
      
                };
                button{
                  background: none;
                  border: none;
                  position: relative;
                  top: 1px;
                  left: 5px;           
                  .deleteimg
                  {
                    
                    width: 18px;
                    height: 18px;
      
                  }              
                  
                }
              }
              
            }
          }
        }

      }
      .primarycontainer3 {
        width: 43.563rem;
        // height: 45.188rem;
          // border: 0.063rem solid black;
        .description {
          position: relative;
          top: 1.2rem;
          width: 40.938rem;
          height: 20.688rem;
          font-size: 0.875rem;
          padding: 0.625rem;
          border-radius: 0.313rem;
          border: 1px solid rgba(0, 0, 0, 0.3);
      
          p{
            
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 21px;
      margin-left: 5px;
      
      
          }
      
      
      
      
          .allergensselection {
          
            height: 235px;
            overflow-x: hidden;
            overflow-y: auto;
            // border: 1px solid red;
            
          }
          .allergensselection::-webkit-scrollbar {
            width: 8px;
          }
      
          .allergensselection::-webkit-scrollbar-track {
            background: #979797;
            border-radius: 10px;
          }
          .searchingicon {
            margin-top: 15px;
            margin-left: 5px;
            img {
              position: relative;
              left: -30px;
              top: 10px;
            }
          }
      
          .imgalignment {
            display: flex;
            flex-direction: row;
            width: 600px;
            height: 150px;
            // border: 1px solid red;
            flex-wrap: wrap;
            position: relative;
            top: 10px;
      
            .eachimg {
              // display: flex;
              // flex-direction: column;
              // width: 50px;
              // height: 40px;
              width: 50px;
              height: 50px;
              // border: 1px solid red;
            margin: 7px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          
              // position: relative;
             
      
      
      
              .images {
                width: 30px;
                height: 30px;
             
              // padding-right: 10px;
              // padding-left: 10px;
              //   position: relative;
              //   top: 1px;
              //   left: 8px;
              //  padding-left: 10px;
              }
              p {
                // position: absolute;
                // top: 35px;
                // left: 4px;
                font-family: "Poppins",sans-serif;
                font-size: 8px;
                font-weight: 400;
      
                width: 35px;
                height: 30px;
                // border: 1px solid red;
      color: #000000;
                display: flex;
                // flex-direction: row;
                flex-wrap: wrap;
                // justify-content: center;
      
                // text-align: center;
              }
            }
          }
      
          
          .selectedallergens {
            display: flex;
            flex-wrap: wrap;
            width: 600px;
            position: relative;
            top: 10px;
            bottom: 10px;
      
            .imageitem {
              display: flex;
              flex-direction: row;
              // width: 130px;
      
              height: 40px;
              margin-left: 10px;
              position: relative;
              margin-bottom: 10px;
              padding: 2px;
              // gap: 15px;
              border-radius: 5px;
              display: flex;
              
              border: 1px solid #b3b3b3;
      
              img {
                width: 30px;
                height: 30px;
             
                
              }
             
              .textwbtn
              {
                padding-right: 10px;
                p {
                  position: relative;
                  top: 5px;
      
                };
                button{
                  background: none;
                  border: none;
                  position: relative;
                  top: 1px;
                  left: 5px;           
                  .deleteimg
                  {
                    
                    width: 18px;
                  height: 18px;
      
                  }              
                  
                }
              }
            }
          }
      
         
         
        }
        .otherdetails {
          position: relative;
          top: 3rem;
          h3 {
            font-size: 0.875rem;
            font-weight: 300;
            color: #000000;
          }
         
          .calorie {
            position: absolute;
            top: 2.7rem;
            display: flex;
            flex-direction: row;
            // border: 1px solid red;
            .caloriewithsapn{
              // border: 1px solid red;
              width: 340px;
              display: flex;
              flex-direction: column;
      
            }
      
            .caloriespan{
              color: #979797;
              position: relative;
              top: -26px;
              left: 190px;
            
              font-size: 0.875rem;
              font-weight: 400;
      
            }
            .calorieradio {
              position: relative;
              left: -75px;
              width: 300px;
              height: 40px;
              top: 15px;
             
      
            }
            .calorieradio1 {
              width: 20px;
              height: 20px;  
              position: relative;
              top: 0.625rem;      
              accent-color:  #67833E;
              border: 1px solid #67833E;
              opacity: 100%;
             
            }
            .calorieradio2 {
              width: 1.25rem;
              height: 1.25rem;
              border: 1px solid #67833E;
              position: relative;
              top: 0.625rem;
              left: 5px;
              accent-color:  #67833E;
              color: #67833E;
              opacity: 100%;
             
      
             
            }
            #calorietext1 {
              position: relative;
              top: 0.25rem;
              left: -3px;
              padding-left: 0.625rem;
              color: #979797;
              right: 30px;
              font-size: 0.875rem;
              font-weight: 400;
            }
            #calorietext2 {
              position: relative;
              top: 0.25rem;
              left:5px;
              padding-left: 0.625rem;
              font-size: 0.875rem;
              color: #979797;
              font-weight: 400;
            }
          }
          .portionsize {
            position: absolute;
            top: 7.5rem;
            display: flex;
            flex-direction: row;
            .portioninput{
              // border: 1px solid red;
              display: flex;
              flex-direction: column;
              width: 340px;
              .portionspangrams{
                color: #979797;
                position: relative;
                top:-26px;
                left: 210px;
              
                font-size: 0.875rem;
                font-weight: 400;
        
              }
              .portionspanpiecse
              {
                color: #979797;
                position: relative;
                top:-26px;
                left: 175px;
              
                font-size: 0.875rem;
                font-weight: 400;
      
              }
            }
      
           
            
      
            .portionsizeradio {
              position: relative;
              top: 15px;
              left: -75px;
              width: 300px;
              height: 40px;
      
              .portionsizetooltip
              {
                position: relative;
                left: 20px;
                top: -5px;
              }
             
      
            }
      
            .portionsizeradio1 {
              width: 20px;
              height: 20px;  
              position: relative;
              top: 0.625rem;      
              accent-color:  #67833E;
              border: 1px solid #67833E;
              opacity: 100%;
            }
            .portionsizeradio2 {
              width: 1.25rem;
              height: 1.25rem;
              border: 1px solid #67833E;
              position: relative;
              top: 0.725rem;
              accent-color:  #67833E;
              color: #67833E;
              left: 10px;
              opacity: 100%;
             
      
             
            }
            #portionsizetext1 {
              position: relative;
              top: 10px;
              left: -1px;
              padding-left: 0.625rem;
              color: #979797;
      
              font-size: 0.875rem;
              font-weight: 400;
            }
            #portionsizetext2 {
              position: relative;
              top: 10px;
              left:7px;
              padding-left: 0.625rem;
              font-size: 0.875rem;
              color: #979797;
              font-weight: 400;
            }
      
      
      
            .portionsizeinput2 {
              position: relative;
              left: 3.5rem;
            }
          }
          .Taxclass {
            position: absolute;
            top: 12.5rem;
            display: flex;
            flex-direction: row;
            
      
            .MasterCode{
              display: flex;
              flex-direction: row;
              margin-left: -1px;
              position: relative;
              top: 25px;
      
              .mastecodeinputs
              {
                margin-left: -20px;
              }
            
      
      
              span{
               
      width: 150px;
      margin-left: 1px;
      color: #979797;
      position: relative;
      top: 10px;
      
      font-size: 0.875rem;
      font-weight: 400;
      
      
      
      
      
              }
              input{
                width: 35.87px;
      height: 40px;
      
      
      border-radius: 5px ;
      margin-left: 5px;
      
      
      border: 1px solid rgba(0, 0, 0, 0.3);
              }
            }
      
      
          }
        }
      }
      .buttoncomponentprimary{
        position: relative;
        top:  950px;
        left: -10px;
      }
     
    }