


// {/* {**********************HeaderSection*****************************************************************} */}
.Header-Container {
  width: 75%;
  position: fixed;
  height: auto;

  left: 108px;
    // border: 2px solid red;
  padding: 10px;
  z-index: 1000;
  top: 25px;
  display: flex;
  justify-content: space-between;
  transition: left 0.4s ease-in;
}

.Header-Container1{
  width: 75%;
  position: fixed;
  height: auto;

  left: 350px;
    // border: 2px solid red;
  padding: 10px;
  z-index: 1000;
  top: 25px;
  display: flex;
  justify-content: space-between;
  transition: left 0.4s linear;


}

.Header-Heading-Search-Filter-Container {
  display: flex;
  width: 962.45px;
  height: 44px;
//   border: 2px solid powderblue;
  justify-content: start;
  padding-left: 30px;
  gap: 20px;
}



.FilterIcon-Header{
    width: 34px;
    height: 34px;
    position: relative;
    left: -3px;
    top: 2px;
    cursor: pointer;

}
.Excel-Header{
    width: 65.53px;
    height: 44px;
    position: relative;
    left: -2px;
    top: -2px;
    cursor: pointer;
}

.Excel-Header-Download{
    width: 24px;
    height: 24px;
    position: relative;
    left: -66px;
    top: 25px;
    cursor: pointer;
}



/* {**********************Header Button*****************************************************************} */


.Add-Item-Container{
    width: 114px;
    height: 44px;
    display: flex;
    justify-content: flex-start;
    background-color: #67833E;
    padding: 10px;
    border-radius: 5px;
    gap: 2px;
    cursor: pointer;


}
.Add-Item-Heading-Plus{
    font-family: Poppins;
font-weight: 200;
font-size: 28px;
line-height: 24px;
color: #FFFFFF;

}

.Add-Item-Heading{
font-family: Poppins;
font-weight: 400;
font-size: 16px;
line-height: 24px;      
color: #FFFFFF;
text-align: center;
}

.Add-Item-Container:hover{
  background-color: #335400f0;
}
